@font-face {
  font-family: "Nekst-Black";
  src: url("./assets/fonts/Nekst-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./assets/fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}

:root {
  --clr-black-900: hsl(0, 0%, 7%);
  --clr-gray-400: hsl(0, 0%, 34%);
  --clr-gray-100: hsl(240, 4%, 95%);
  --clr-orange: hsl(33, 100%, 54%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nekst-Black", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
